<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Galacticor</title>
	<link rel="stylesheet" href="">
</head>
<body bgcolor="cree">
	{% block content %}

	{% endblock %}
	
</body>
</html>