{% extends 'base.html' %}

{% block content %}
<form action="add" method="POST">
    {% csrf_token %}
    1st num = <input type="text" name="num1"><br>
    2nd num = <input type="text" name="num2"><br>
    <input type="submit">
</form>
{% endblock %}